<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.zzfyip.search.dal.common.dao.PatentDao">

	<resultMap id="BaseResultMap" type="cn.zzfyip.search.dal.common.entity.PatentMain" >
	    <id column="patent_no" property="patentNo" jdbcType="VARCHAR" />
	    <result column="patent_name" property="patentName" jdbcType="VARCHAR" />
	    <result column="public_date" property="publicDate" jdbcType="TIMESTAMP" />
	    <result column="patent_status" property="patentStatus" jdbcType="VARCHAR" />
	    <result column="add_date" property="addDate" jdbcType="TIMESTAMP" />
	    <result column="patent_type" property="patentType" jdbcType="SMALLINT" />
	    <result column="patent_fawen_search_type" property="patentFawenSearchType" jdbcType="VARCHAR" />
	    <result column="patent_fawen_search_time" property="patentFawenSearchTime" jdbcType="TIMESTAMP" />
	    <result column="patent_fawen_error_times" property="patentFawenErrorTimes" jdbcType="INTEGER" />
	    <result column="patent_info_error_times" property="patentInfoErrorTimes" jdbcType="INTEGER" />
	    <result column="patent_fee_wuxiao_search_type" property="patentFeeWuxiaoSearchType" jdbcType="VARCHAR" />
	    <result column="patent_fee_wuxiao_search_time" property="patentFeeWuxiaoSearchTime" jdbcType="TIMESTAMP" />
	    <result column="patent_law_status_search_time" property="patentLawStatusSearchTime" jdbcType="TIMESTAMP" />
		<result column="patent_paper_status" property="patentPaperStatus" jdbcType="VARCHAR" />
    	<result column="patent_paper_status_search_time" property="patentPaperStatusSearchTime" jdbcType="TIMESTAMP" />
	</resultMap>
	
	<resultMap id="PatentStatisticVo" type="cn.zzfyip.search.dal.common.vo.PatentStatisticVo" >
	    <id column="patent_no" property="patentNo" jdbcType="VARCHAR" />
	    <result column="apply_date" property="applyDate" jdbcType="TIMESTAMP" />
	    <result column="patent_name" property="patentName" jdbcType="VARCHAR" />
	    <result column="public_no" property="publicNo" jdbcType="VARCHAR" />
	    <result column="public_date" property="publicDate" jdbcType="TIMESTAMP" />
	    <result column="main_category_no" property="mainCategoryNo" jdbcType="VARCHAR" />
	    <result column="pre_apply_no" property="preApplyNo" jdbcType="VARCHAR" />
	    <result column="sec_category_no" property="secCategoryNo" jdbcType="VARCHAR" />
	    <result column="certificate_date" property="certificateDate" jdbcType="TIMESTAMP" />
	    <result column="pre_right" property="preRight" jdbcType="VARCHAR" />
	    <result column="applier" property="applier" jdbcType="VARCHAR" />
	    <result column="address" property="address" jdbcType="VARCHAR" />
	    <result column="inventor" property="inventor" jdbcType="VARCHAR" />
	    <result column="global_patent" property="globalPatent" jdbcType="VARCHAR" />
	    <result column="global_public" property="globalPublic" jdbcType="VARCHAR" />
	    <result column="entry_country_date" property="entryCountryDate" jdbcType="TIMESTAMP" />
	    <result column="agency" property="agency" jdbcType="VARCHAR" />
	    <result column="agent" property="agent" jdbcType="VARCHAR" />
	    <result column="summary" property="summary" jdbcType="VARCHAR" />
	    <result column="add_date" property="addDate" jdbcType="TIMESTAMP" />
	    <result column="ext_info" property="extInfo" jdbcType="VARCHAR" />
	    <result column="patent_paper_status" property="paperStatus" jdbcType="VARCHAR" />
	</resultMap>

	<select id="selectMaxPublicDateInPatentMain" resultType="java.util.Date">
		select
		max(public_date) as max_public_date from add_patent_record;
	</select>

	<select id="selectFirst100RecordPatentInfoSearchPatentMain" resultMap="BaseResultMap">
		SELECT patent_main.* FROM public.patent_main left join patent_info on patent_main.patent_no= patent_info.patent_no
			where patent_info.patent_no is null order by patent_main.patent_type,patent_main.public_date limit 300;
	</select>
	
	<select id="selectFirst100RecordPatentNoticeFawenSearchPatentMain" parameterType="map" resultMap="BaseResultMap">
		<![CDATA[
		SELECT * FROM public.patent_main where patent_fawen_search_type='NORMAL' and (patent_fawen_search_time < '${fawenUpdateDate}' or patent_fawen_search_time is null) order by patent_fawen_search_time,public_date limit 300;
		]]>
	</select>
	
	<select id="selectFirst100RecordPatentLawStatusSearchPatentMain" parameterType="map" resultMap="BaseResultMap">
		<![CDATA[
			SELECT * FROM public.patent_main where patent_status not in ('CHEHUI') order by patent_law_status_search_time,patent_main.patent_type,patent_main.public_date  limit 300;
		]]>
	</select>
	
	<select id="selectFirst100RecordPatentPaperStatusSearchPatentMain" parameterType="map" resultMap="BaseResultMap">
		<![CDATA[
			SELECT * FROM public.patent_main where patent_paper_status not in ('实审请求视撤失效','逾期视撤失效','视为放弃失效','实审请求视撤失效','驳回失效','届满终止失效','放弃专利权（主动放弃）','放弃专利权（重复授权）','未缴年费终止失效','无效宣告失效') or patent_paper_status is null order by patent_paper_status_search_time,patent_main.patent_type,patent_main.public_date  limit 300;
		]]>
	</select>
	
	<select id="selectFirst100RecordPatentFeeSearchPatentMain" parameterType="map" resultMap="BaseResultMap">
		<![CDATA[
			SELECT * FROM public.patent_main where patent_paper_status not in ('实审请求视撤失效','逾期视撤失效','视为放弃失效','实审请求视撤失效','驳回失效','届满终止失效','放弃专利权（主动放弃）','放弃专利权（重复授权）','未缴年费终止失效','无效宣告失效') or patent_paper_status is null order by patent_fee_wuxiao_search_time,public_date,patent_type  limit 300;
		]]>
	</select>
	<select id="selectFawenStatisticData" parameterType="map" resultMap="PatentStatisticVo">
		<![CDATA[
			select array_to_string
			        (
			        ARRAY   (
			                SELECT to_char(notice_date, 'YYYY-MM-DD')||','||COALESCE(notice_code,'')||','||COALESCE(receiver,'')||','||COALESCE(address,'')
			                FROM patent_notice_fawen
			                WHERE patent_main.patent_no = patent_notice_fawen.patent_no order by sequnce_no desc
			                ),
			        ';'
			        ) AS ext_info,
                    patent_info.*,
                    patent_main.patent_paper_status
			 from patent_main
             left join patent_info on patent_main.patent_no=patent_info.patent_no
            where patent_fawen_search_type='DABIAN' and patent_fawen_search_time='${fawenUpdateDate}' order by public_date
			;
		]]>
	</select>
	
	<select id="selectFeeStatisticData" parameterType="map" resultMap="PatentStatisticVo">
		<![CDATA[
			select array_to_string
			        (
			        ARRAY   (
			                SELECT to_char(fee_date, 'YYYY-MM-DD')||','||COALESCE(fee_type,'')||','||COALESCE(fee_person,'')||','||COALESCE(status,'')
			                FROM patent_fee
			                WHERE patent_main.patent_no = patent_fee.patent_no order by fee_date desc
			                ),
			        ';'
			        ) AS ext_info,
                    patent_info.*,
                    patent_main.patent_paper_status
			 from patent_main
             left join patent_info on patent_main.patent_no=patent_info.patent_no
            where patent_main.patent_no in (select distinct patent_no from patent_fee where fee_type like '%无效宣告请求费%' and fee_date between '${fromDate}' and '${endDate}')
            order by public_date
			;
		]]>
	</select>
	
	<select id="selectBohuiStatisticData" parameterType="map" resultMap="PatentStatisticVo">
		<![CDATA[
			select array_to_string
			        (
			        ARRAY   (
			                SELECT to_char(notice_date, 'YYYY-MM-DD')||','||COALESCE(notice_code,'')||','||COALESCE(receiver,'')||','||COALESCE(address,'')
			                FROM patent_notice_fawen
			                WHERE patent_main.patent_no = patent_notice_fawen.patent_no order by sequnce_no desc
			                ),
			        ';'
			        ) AS ext_info,
                    patent_info.*,
                    patent_main.patent_paper_status
			 from patent_main
             left join patent_info on patent_main.patent_no=patent_info.patent_no
            where patent_paper_status='驳回等复审请求' and patent_paper_status_search_time  between '${fromDate}' and '${endDate}' order by public_date
			;
		]]>
	</select>
	
	<select id="selectMaxFawenUpdateDate" resultType="java.util.Date">
		<![CDATA[
			select max(patent_fawen_search_time) from patent_main;
		]]>
	</select>

</mapper>
