<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.zzfyip.search.dal.common.dao.PatentDao">
    
    <select id="selectMaxPublicDateInPatentMain" resultType="java.util.Date">
		select max(public_date) as max_public_date from add_patent_record;
    </select>
</mapper>
